<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!--    Arguments-->
    <arg name="fixed_base" default="true"/>
    <arg name="simulation" default="false"/>
    <arg name="interface" value="effort"/>

 	<!-- Config file for controller -->
    <group if="$(arg fixed_base)">
        <rosparam command="load" file="$(find mppi_manipulation)/params/params.yaml" ns="manipulation_controller_sim"/>
        <rosparam command="load" file="$(find mppi_manipulation)/params/params.yaml" ns="manipulation_controller"/>
        <rosparam command="load" file="$(find mppi_manipulation)/params/controller.yaml" ns="manipulation_controller_sim"/>
        <param name="/config_file" value="$(find mppi_manipulation)/params/controller.yaml"/>
    </group>
    <group unless="$(arg fixed_base)">
        <rosparam command="load" file="$(find mppi_manipulation)/params/params.yaml" ns="manipulation_controller_sim"/>
        <rosparam command="load" file="$(find mppi_manipulation)/params/params.yaml" ns="manipulation_controller"/>
        <rosparam command="load" file="$(find mppi_manipulation)/params/controller.yaml" ns="manipulation_controller_sim"/>
        <param name="/config_file" value="$(find mppi_manipulation)/params/controller.yaml"/>
    </group>

     <!--  Controller -->
    <rosparam file="$(find mppi_royalpanda)/config/ros_controller_$(arg interface).yaml" command="load" subst_value="true"/>
</launch>
